################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/bin2dolphin/.vs/bin2dolphin/
/bin2dolphin/.vs/bin2dolphin/
/bin2dolphin/x64/
/bin2dolphin/x86/
