################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/bin2dolphin/.vs/bin2dolphin/v16/.suo
/bin2dolphin/.vs/bin2dolphin/v16
/bin2dolphin/bin2dolphin/x64
/bin2dolphin/bin2dolphin/.vs
